<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> AngularJS </title>
</head>
<script type="text/javascript" src="angularjs/angular.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<body>
   <div ng-controller="myCtr">
       Search : <input type="text" ng-model="searching">
     <table>
         <tr ng-repeat="friend in friends|filter: searching">
             <td>
                 <img src="image/{{friend.name}}.jpg" width="100" height="100" alt="{{ friend.name }}">
             </td>
             <td>
             <h3> 
                 {{friend.name}}
                <br>
             </h3>
                 {{ friend.desc}}
                <input type="submit" ng-click="clicme(friend.name,friend.desc)">
             </td>
         </tr>
     </table>
     <br>
     update info
     <input type="text" ng-model="updatename">
     <input type="text" ng-model="updatedesc">
   </div>
</body>
</html>